@font-face {
    font-family: headerLibrary;
    src: url('../fonts/Silent\ Reaction.ttf');
  }
#first{
    height: 160px ;
    background-image: url(../image/background.jpg);
    font-family:headerLibrary;
    text-align: center;
    padding:25px
  
}
header{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  position: relative;
  width: 200px;
  margin-left: 0px;
  padding: 0;
}
header ul{position: relative;
  display: flex;}
  
header ul li{ list-style: none;}
ul li a
{
  display:inline-block;
  color:black;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}


.main{
  display:inline;
}
.right{
   height: 300px;
   border: solid 4px rgb(151, 42, 151);
}
