@font-face {
    font-family: headerLibrary;
    src: url('../fonts/Silent\ Reaction.ttf');
  }
body{
  margin: 0;
}
img {
  max-width: 100%; max-height: 100%;
}
body > header {
    height: 160px ;
    background-image: url(../image/background.jpg);
    font-family:headerLibrary;
    padding:25px;
}
body > header > #logo {
  float: left;
}
body > header > #logo img{
  height: 120px;
  margin-top: 30px;
}
body > header > #site-name{
  text-align: center;
  padding-top: 40px;
}
  body > header > #site-name h2{
  font-size: 35px;
}
body > header > #main-navigation {
  float: right; margin-top: 80px;
}
body > header > #main-navigation ul{
  list-style: none; 
}
body > header > #main-navigation ul li{
  display: inline-block;
}
body > header > #main-navigation ul li a{
  padding: 0 19px;
  transition: all 0.3s ease;

}
body > header > #main-navigation ul li a:hover{
  color: orange;
}




section{
  text-align: center;
  margin-top: 150px;
  
  }

  section > h2
  {
    
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  

 
