.head{
    width: 99%;
    height: 300px;
    
    border: 5px outset black;
    background-image: url("images.jpg");
    text-align: center;
    margin: 0;
}
#f{
    font-family:'Times New Roman', cursive;
}
