@font-face {
    font-family: headerLibrary;
    src: url('../fonts/Silent\ Reaction.ttf');
  }
body{
  margin: 0;
}
img {
  max-width: 100%; max-height: 100%;
}
body > header {
    height: 160px ;
   
    font-family:headerLibrary;
    padding:25px;
    margin: 0cm;
}
body > header > #logo {
  float: left;
}
body > header > #logo img{
  height: 120px;
  margin-top: 30px;
}
body > header > #site-name{
  text-align: right;
  padding-top: 40px;
}
  body > header > #site-name h2{
  font-size: 45px;
  padding-right: 500px;
}
body > header > #main-navigation {
  float: right; margin-top: 80px;
}
body > header > #main-navigation ul{
  list-style: none; 
}
body > header > #main-navigation ul li{
  display: inline-block;
}
body > header > #main-navigation ul li a{
  padding: 0 19px;
  transition: all 0.3s ease;

}
body > header > #main-navigation ul li a:hover{
  color: orange;
}


#registerBox{
    background-image: url(../image/background.jpg);
    background-size: cover;
 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;
    padding: 25px;
    width: 60%;
    height: 500px;
    border-radius: 50px;
    
    
}
#registerBox > h1 {
  text-align: center;
}

#registerBox > h1 {
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
